@import url(https://fonts.googleapis.com/css?family=Raleway:700, 400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic);

:root {
  font-size: 16px;
}

body {
  font-family: 'Roboto';
  color: #4A4A4A;
  max-width: 480px;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #FF1654;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
  margin: 2rem 0;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 106px);
}

.wrapper .content {
  padding: 1rem;
}

/* Navigation */
.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 20, 83, 0.06);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: #4A4A4A;
}

.navigation a:hover{
  background-color: #FF1654;
  color: white;
  text-deocration: none;
}

.blank{
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.brand {
  font-weight: 700;
}

/* Program List Component */

.episode {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.episode:hover {
  background-color: rgba(255, 20, 83, 0.06);
}

.episode:hover .program_content {
  border-bottom: none;
}

.program_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1.25rem;
  width: 100%;
  max-width: 310px;
  overflow-x: scroll;
  padding-top: 10px;
  border-bottom: 1px solid rgba(255, 20, 83, 0.06);
}

.program_date {
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 1rem;
}

.program_title {
  font-size: 1.3rem;
}

.img_container {
  height: 150px;
  width: 150px;
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.img_container .img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  line-height: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  font-size: 3em;
  color: black;
}

.img_container:hover .img_overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 20, 83, .55);
  color: white;
}

.img_container img {
  height: 100%;
  width: 100%;
}

.video_img_container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.video_img_container img {
  max-height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video_img_container .video_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 6em;
  color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.video_img_container:hover .video_img_overlay {
  background: rgba(255, 20, 83, .25);
}

/*footer*/

.footer {
  padding: 1rem 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

/*Loading bar courtesy of: http://codepen.io/brunjo/pen/wBKmbm*/

.loading {
  display: inline-block;
  margin-top: 50px;
}

.loading-bar {
  display: inline-block;
  width: 8px;
  height: 30px;
  border-radius: 4px;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
  margin: 0 7px;
}
.loading-bar:nth-child(1) {
  background-color: #FF1654;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #FF1654;
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #FF1654;
  -webkit-animation-delay: .18s;
          animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #FF1654;
  -webkit-animation-delay: .27s;
          animation-delay: .27s;
}

.hide {
  display: none;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
            transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
            transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
