iframe {
  height: 200px;
}

img {
  height: 75px;
  width: 75px;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
}

.brand {
  flex-grow: 2;
}
