@import url(https://fonts.googleapis.com/css?family=Raleway:700, 400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic);

body {
  font-family: 'Roboto';
  font-size: 20px;
  color: #4A4A4A;
  display: flex;
  flex-flow: column nowrap;
}

iframe {
  height: 300px;
  width: 100%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #4A4A4A;
}

.navigation a:hover{
  background-color: #FF1654;
  color: white;
}

.blank{
  flex-grow: 2;
}

.brand {
  font-weight: 700;
}

/* Program List Component */
.program_list {
  max-width: 600px;
  margin: auto;
}

.episode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.episode:hover {
  background-color: rgba(255, 20, 83, 0.06);
}

.program_content {
  display: flex;
  flex-direction: column;
  margin: 5px 10px;
  align-self: flex-start;
}

.program_date {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  margin-top: 10px;
}

.img_container {
  height: 150px;
  width: 150px;
  position: relative;
  flex-shrink: 0;
}

.img_container .img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  line-height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: black;
}

.img_container:hover .img_overlay {
  display: flex;
  background: rgba(255, 20, 83, .25);
}

.img_container img {
  height: 100%;
  width: 100%;
}

.video_img_container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}

.video_img_container img {
  height: 100%;
  width: 100%;
}

.video_img_container .video_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4em;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_img_container:hover .video_img_overlay {
  background: rgba(255, 20, 83, .25);
}

@media all and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .navigation {
    flex-flow: column nowrap;
    border-bottom: none;
  }
  .blank {
    display: none;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .program_list {
    margin-top: 0;
    padding: 15px;
  }
  .img_container {
    height: 100px;
    width: 100px;
  }
}
