doctype html
html
  include ./includes/head.jade
  body
    include ./includes/nav.jade
    .wrapper
      .content
        p The McElroy brothers may not be experts, but boy are they prolific. With more than 17 different audio/visual projects, it's hard work keeping up with the trio of advice-giving brothers.
        p This website is dedicated to taming the madness by presenting the most recent episode of each McElroy production in a format that can be played within your browser.
        p To learn more about the McElroy brothers and their many projects, visit #[a(href="http://www.mcelroyshows.com") mcelroyshows.com].
    include ./includes/footer.jade
