doctype html
head
  title Landing Page
  link(rel='stylesheet', href='/stylesheets/normalize.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
body
  ul.navigation
    li.brand
      a(href="#") McElroy Madness
    li
      a(href="#") Programs  
    li
      a(href="#") About
    
    
  ul
    each program in locals.data
      p #{program.program_name}
      - if (program.feed_type === 'audio/podcast')
        img(src="#{program.image_url}")
      - else
        iframe(src="#{program.video_link}" frameborder="0" allowfullscreen)
