doctype html
head
  title Landing Page
  link(rel='stylesheet', href='/stylesheets/normalize.css', type='text/css')
  link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
body
  ul.navigation
    li.brand
      a(href="#") McElroy Madness
    li.blank  
    li
      a(href="#") Programs  
    li
      a(href="#") About
  ul.program_list
    each program in locals.data
      li.episode
        -if (program.feed_type === 'audio/podcast')
          .img_container
            img(src="#{program.image_url}")
            .img_overlay &#9654
          .program_content
            .program_title #{program.title}
            .program_date #{program.disp_date}
        -else
          iframe(src="#{program.video_link}" frameborder="0" allowfullscreen)
